<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li>
          <a
            style="font-size: large"
            href="#!/home"
            class="nav-link px-2 text-white"
            >Demo Streaming</a
          >
        </li>
      </ul>

      <div class="text-end">
        <button style="color: white" type="button" class="btn btn-link">
          Login
        </button>
        <button
          id="clickToHide"
          ng-controller="jqueryExample"
          onclick="window.location.href = '#!/trial';"
          type="button"
          class="btn btn-secondary"
        >
          Start Your Free Trial
        </button>
      </div>
    </div>
  </div>
</header>
