<div class="b-example-divider">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li>
          <a style="font-size: large" class="nav-link px-2 text-secondary"
            >Start Your Free Trial</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="container mx-auto mt-4" ng-controller="loadingScreen">
  <div class="row">
    <p>{{content}}</p>
  </div>
</div>
