<div class="container" ng-controller="footerController">
  <footer class="py-5">
    <div class="row">
      <ul class="nav pb-3 mb-3">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Home</a>
        </li>
        <div class="vr"></div>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Terms and Conditions</a>
        </li>
        <div class="vr"></div>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Privacy Policy</a>
        </li>
        <div class="vr"></div>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Collection Statement</a>
        </li>
        <div class="vr"></div>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Help</a>
        </li>
        <div class="vr"></div>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted">Manage Account</a>
        </li>
      </ul>
      <p style="font-size: 12px" class="lead text-muted">
        Copyright &copy; {{year}} DEMO Streaming All Rights Reserved.
      </p>
    </div>
    <div class="d-flex justify-content-between py-4 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
        >
          <object data="facebook-blue.svg" type="image/svg+xml">
            <img
              width="30"
              height="30"
              src="/assets/images/social/facebook-blue.svg"
            />
          </object>
        </a>
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
        >
          <object data="twitter-blue.svg" type="image/svg+xml">
            <img
              width="30"
              height="30"
              src="/assets/images/social/twitter-blue.svg"
            />
          </object>
        </a>
        <a
          href="/"
          class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1"
        >
          <object data="instagram-blue.svg" type="image/svg+xml">
            <img
              width="30"
              height="30"
              src="/assets/images/social/instagram-blue.svg"
            />
          </object>
        </a>
      </div>

      <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted"
            ><object data="app-store.svg" type="image/svg+xml">
              <img src="/assets/images/store/app-store.svg" />
            </object>
          </a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted"
            ><object data="play-store.svg" type="image/svg+xml">
              <img src="/assets/images/store/play-store.svg" /></object
          ></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link px-2 text-muted"
            ><object data="windows-store.svg" type="image/svg+xml">
              <img
                style="margin-top: -30px"
                width="100"
                height="100"
                src="/assets/images/store/windows-store.svg"
              /></object
          ></a>
        </li>
      </ul>
    </div>
  </footer>
</div>
