<div class="container mx-auto mt-4" ng-controller="getData">
  <div class="row">
    <div
      ng-repeat="entry in entries | filter:{programType:'movie'}"
      class="col-md-3"
    >
      <div class="card" style="width: 18rem">
        <img
          ng-src="{{entry.images['Poster Art'].url}}"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title">{{entry.title}}</h5>
          <p>{{entry.programType}}</p>
          <h6 class="card-subtitle mb-2 text-muted">{{entry.releaseYear}}</h6>
          <p class="card-text">{{entry.description}}</p>
          <a href="#" class="btn mr-2"
            ><i class="fas fa-link"></i> Visit Site</a
          >
          <a href="#" class="btn"><i class="fab fa-github"></i> Github</a>
        </div>
      </div>
    </div>
  </div>
</div>
